form select {
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
  }
  
  form button {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    background-color: #47ffd1;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #3e9ae5;
  }
  