body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #47acff;
    color: white;
    padding: 15px;
    text-align: center;
  }
  
  .navbar {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0 0 10px;
    background-color: #444;
  }
  
  .navbar li {
    margin: 0 15px;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .navbar a:hover {
    text-decoration: underline;
  }
  
  section {
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  section h2 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  form label {
    margin-top: 10px;
    font-weight: bold;
  }
  
  form input,
  form textarea {
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  form button {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    background-color: #47c5ff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #3e94e5;
  }
  #animal-type{
    height: 40px;
    
  }
  